<div id="perso">
  <div fxLayout="row">
    <h2>
      Cyril Marois
    </h2>
    
    <div fxLayout="column">
      <div>
        <i class="material-icons">
          cake
        </i>32 ans
      </div>
      <div>
        <i class="material-icons">
          location_on
        </i>
        Noisy le grand (93)
      </div>
    </div>
    <div fxLayout="column">
      <div>
        <i class="material-icons">
          alternate_email
        </i>
        <a href="mailto:cyrilmarois@gmail.com">cyrilmarois@gmail.com</a>
      </div>
      <div>
        <i class="material-icons">
          smartphone
        </i>
        0629374167
      </div>
    </div>
  </div>
</div>
