<div id="pro">
  <div fxLayout="column">
    <!-- <mgl-timeline [toggle]="true" [focusOnOpen]="true">
      <mgl-timeline-entry>
        <mgl-timeline-entry-header>
          <div fxLayoutAlign="start start" class="jobName">D&eacute;veloppeur</div>
          <div fxLayout="row">
            <div fxLayoutAlign="start start">Collective Thinking</div>
            <div fxLayoutAlign="end start">En cours - 11/2015 ({{currentCompanyWork}} ans)</div>
          </div>
        </mgl-timeline-entry-header>
        <mgl-timeline-entry-content>
          <mgl-timeline-entry-dot [size]="70" [class]="dotStyle"></mgl-timeline-entry-dot>
          <ul>
            <li>D&eacute;veloppement, maintenance et d&eacute;ploiement d'une application REST li&eacute;e au domaine
              m&eacute;dical</li>
            <li><small><em>(LARAVEL, PHP, MYSQL, ELASTICSEARCH, ANGULARJS/ANGULAR, HTML, CSS, DOCKER, LINUX)</em></small></li>
          </ul>
        </mgl-timeline-entry-content>
      </mgl-timeline-entry>

      <mgl-timeline-entry>
        <mgl-timeline-entry-header>
          <h4>D&eacute;veloppeur</h4>
          <div fxLayout="row">
            <div fxFlexAlign="start start">Ibitux</div>
            <div fxFlexAlign="end start">09/11 - 09/2015 (4 ans)</div>
          </div>
        </mgl-timeline-entry-header>
        <mgl-timeline-entry-content>
          <mgl-timeline-entry-dot [size]="70" [class]="dotStyle"></mgl-timeline-entry-dot>
          <ul>
            <li>D&eacute;veloppement, maintenance et d&eacute;ploiement de sites internet.</li>
            <li><small><em>(YII/YII 2, PHP, MYSQL, HTML, CSS, JQUERY, ANGULARJS)</em></small></li>
          </ul>
        </mgl-timeline-entry-content>
      </mgl-timeline-entry>
      <mgl-timeline-entry>
        <mgl-timeline-entry-header>
          <h4>Int&eacute;grateur web</h4>
          <div fxLayout="row">
            <div fxFlexAlign="start start">Digitas</div>
            <div fxFlexAlign="end start">09/2011 - 07/2011</div>
          </div>
        </mgl-timeline-entry-header>
        <mgl-timeline-entry-content>
          <mgl-timeline-entry-dot [size]="70" [class]="dotStyle"></mgl-timeline-entry-dot>
          <ul>
            <li>Int&eacute;gration et maintenance des sites de la marque l'OREAL, &agrave; partir d'un CMS interne.</li>
          </ul>
        </mgl-timeline-entry-content>
      </mgl-timeline-entry>
      <mgl-timeline-entry>
        <mgl-timeline-entry-header>
          <h4>D&eacute;veloppeur</h4>
          <div fxLayout="row">
            <div fxFlexAlign="start start">Duke</div>
            <div fxFlexAlign="end start">06/2011 - 04/2011</div>
          </div>
        </mgl-timeline-entry-header>
        <mgl-timeline-entry-content>
          <mgl-timeline-entry-dot [size]="70" [class]="dotStyle"></mgl-timeline-entry-dot>
          <ul>
            <li>Int&eacute;gration et maintenance des sites de la marque l'OREAL, &agrave; partir d'un CMS interne.</li>
          </ul>
        </mgl-timeline-entry-content>
      </mgl-timeline-entry>
    </mgl-timeline> -->


    <h2 class="title mt20 mb20">Exp&eacute;riences professionnelles</h2>
    <div class="experience mb20 ml20">
      <div class="job">D&eacute;veloppeur</div>
      <div fxLayout="row">
        <div fxLayoutAlign="start start">
          <span class="yearNumber mr10">{{currentDateCompanyWork}} ans</span>
          <span class="dateNumber">En cours - 11/2015</span>
        </div>
        <div fxLayoutAlign="end start" class="company">Collective Thinking</div>      
      </div>

      <div>
        D&eacute;veloppement, maintenance et d&eacute;ploiement d'une application REST li&eacute;e au domaine
        m&eacute;dical
        <div class="tech pt10">
          <mat-chip-list>
            <mat-chip color="accent" selected>laravel</mat-chip>
            <mat-chip color="accent" selected>php</mat-chip>
            <mat-chip color="accent" selected>mysql</mat-chip>
            <mat-chip color="accent" selected>elasticsearch</mat-chip>
            <mat-chip color="accent" selected>angularjs/angular</mat-chip>
            <mat-chip color="accent" selected>html/css</mat-chip>
            <mat-chip color="accent" selected>docker</mat-chip>
            <mat-chip color="accent" selected>linux</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </div>

    <div class="experience mb20 ml20">
      <div class="job">D&eacute;veloppeur</div>
      <div fxLayout="row">
        <div fxLayoutAlign="start start">
          <span class="yearNumber mr10">4 ans</span>
          <span class="dateNumber">09/2015 - 09/2011</span>
        </div>
        <div fxLayoutAlign="end start" class="company">Ibitux</div>
      </div>
      <div>
        D&eacute;veloppement, maintenance et d&eacute;ploiement de sites internet.
      </div>
      <div class="tech pt10">
        <mat-chip-list>
          <mat-chip color="accent" selected>yii/yii 2</mat-chip>
          <mat-chip color="accent" selected>symfony 2</mat-chip>
          <mat-chip color="accent" selected>php</mat-chip>
          <mat-chip color="accent" selected>mysql</mat-chip>
          <mat-chip color="accent" selected>html/css</mat-chip>
          <mat-chip color="accent" selected>jquery</mat-chip>
          <mat-chip color="accent" selected>angularjs</mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div class="experience mb20 ml20">
      <div class="job">Int&eacute;grateur web</div>
      <div fxLayout="row">
        <div fxLayoutAlign="start start">
          <span class="yearNumber mr10">> 1 an</span>
          <span class="dateNumber">09/2011 - 07/2011</span>
        </div>
        <div fxLayoutAlign="end start" class="company">Digitas</div>
      </div>
      <div>
        Int&eacute;gration et maintenance des sites de la marque l'OREAL, &agrave; partir d'un CMS interne.
      </div>
      <div class="tech pt10">
        <mat-chip-list>
          <mat-chip color="accent" selected>html/css</mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div class="experience mb20 ml20">
      <div class="job">Int&eacute;grateur web</div>
      <div fxLayout="row">
        <div fxLayoutAlign="start start">
          <span class="yearNumber mr10">> 1 an</span>
          <span class="dateNumber">06/2011 - 04/2011</span>
        </div>
        <div fxLayoutAlign="end start" class="company">Duke</div>
      </div>

      <div>
        Int&eacute;gration et maintenance du site des Jeux Olympiques, &agrave; partir d'un CMS interne.
      </div>
      <div class="tech pt10">
        <mat-chip-list>
          <mat-chip color="accent" selected>html/css</mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <div class="experience mb20 ml20">
      <div class="job">D&eacute;veloppeur</div>
      <div fxLayout="row">
        <div fxLayoutAlign="start start">
          <span class="yearNumber mr10">> 1 an</span>
          <span class="dateNumber">03/2010 - 07/2009</span>
        </div>
        <div fxLayoutAlign="end start" class="company">Valn&eacute;o</div>
      </div>

      <div>
          D&eacute;veloppement, int&eacute;gration, maintenance et d&eacute;ploiement de sites internet<br>
          Design d'affiches PAO
        </div>
        <div class="tech pt10">
          <mat-chip-list>
            <mat-chip color="accent" selected>php</mat-chip>
            <mat-chip color="accent" selected>mysql</mat-chip>
            <mat-chip color="accent" selected>html/css</mat-chip>
            <mat-chip color="accent" selected>jquery</mat-chip>
            <mat-chip color="accent" selected>suite adobe</mat-chip>
          </mat-chip-list>
        </div>
    </div>
  </div>

