#header {
  display: flex;
  background-color: chartreuse;
  padding-left: 30px;
  max-height: 300px;
  height: 300px;


  .circular {
    width: 200px;
    height: 200px;
    margin: 0px 50px 0 0;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
  }
}
