<div id="school">
  <div class="title">
  <!-- <i class="material-icons"></i>school</i>  -->
  Formations
</div>
<div class="experience">
  <div fxLayout="row">
    <div fxLayoutAlign="start start">2009 - 2007</div>
    <div fxLayoutAlign="end start">DUT Services &amp; R&eacute;seaux de Communication</div> 
  </div>
  <div class="tech">
      Renomm&eacute; &laquo;M&eacute;tiers du Multim&eacute;dia et de l'Internet&raquo;
  </div>
  </div>
  <div class="experience">
  <div fxLayout="row">
    <div fxLayoutAlign="start start">2005</div>
    <div fxLayoutAlign="end start">
        Baccalaur&eacute;at g&eacute;n&eacute;ral (Option ES)
    </div>
  </div>
</div>
</div>