<div id="skills">
    <div class="title">
        <!-- <i><img src="../../../assets/iceberg-nb.png" alt="skills"></i> -->
        Comp&eacute;tences
    </div>

    <div fxLayout="row">
        <div fxLayout="column">
            <div>ANGULAR   <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i></div>
            <div>ANGULARJS <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i></div>
            <div>HTML / CSS / JAVASCRIPT <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i></div>
            <div>JQUERY <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i></div>
        </div>
        <div fxLayout="column">
            <div>PHP <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i> <i class="material-icons">star_border</i></div>
            <div>MYSQL <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i></div>
            <div>ELASTICSEARCH <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i></div>
            <div>MONGODB <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i></div>       
        </div>    
        <!-- FRAMEWORK
        LARAVEL <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i><br>
        YII | YII2 <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i><br>
        SYMFONY2 <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i><br>   
        
        WORDPRESS <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i><br>
        LINUX <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i><br>
        GIT <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_half</i> <i class="material-icons">star_border</i><br>
        DOCKER <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i><br>    
        
        PHOTOSHOP <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i><br>
        ILLUSTRATOR <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star</i> <i class="material-icons">star_border</i> <i class="material-icons">star_border</i><br> -->
    </div>

    <div>Langues</div>
    <div>Anglais : Bon</div>
    <div>Espagnol : Moyen</div>
</div>